{% extends "base.html" %}

{% block content %}


<div class="header" id="tiptop">
    <h1>WHO WOULD WIN THE ULTIMATE BATTLE</h1>
    <h2>PICK YOUR BEST HERO!</h2>
    <h6>Imagine fantasy footbal, but better! Marvel Combat Mania can be home to your personal Super Fantasy League.</h6>
    <img src="../../static/css/images/mcm_versus.PNG" class="header-image" id="tiptop-image">
</div>
    
<div>
    <section class="row">
        <div class="container text-center">
            <div class="row row-cols-3">
                
                <div class="col">                
                <h2>Create your own character...</h2>
                <p>Give yourself the same skills as your favorite Character!</p>
                <p>Mix & match skills & powers of any hero or villian.</p>
                <p>Battle against OG Heroes to see if you have what it takes!</p>
                <img src="../../static/css/images/mcm_create.PNG" class="icon-images">
                </div>

                <div class="col">                
                <h2>Assemble your team...</h2>
                <p>Pick your favorite heroes & head to battle</p>
                <p>HEROES UNITE!</p>
                </div>

                <div class="col">                
                <h2>Battle! Battle! BATTLE!</h2>
                <p>Battle your friends (or foes) from all over the world!</p>
                <p>Or you can hit the gym & do practice battles to build your stamina & hone your skills.</p>
                <p>Always be battle ready!</p>
                <img src="../../static/css/images/mcm_battle.PNG" class="icon-images">
                </div>

            </div>
        </div>
    </section>
</div>

<div>
    <section class="row">
        <div id="connection">
            <h4>Connect with like Hero lovers everywhere</h4>
            <div>
                <ul>
                    <button class="btn btn-primary">Subscribe on YouTube!</button>
                    <button class="btn btn-primary">Come to Our Next Live Event!</button>
                    <button class="btn btn-primary">Join Our Discord!</button>
                </ul>
            </div>
        </div>
    </section>
</div>
    


{% endblock content %}