{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'auth-success' %}
                <div class="container">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss = "alert", onclick="this.parentElement.style.display='none'">&times;</button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}



<header class="hero-section">
    <h3 class="header-text">Hey there Hero! {{ current_user.email }}</h3>
</header>
<div class="container">
    <h1>Here are your profile details </h1>
    <h3>Becareful with your true identity if you wish to remain in the shadows like some heroes/villians!</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">First Name: {{ current_user.first_name }}</li>
        <li class="list-group-item">Last Name: {{ current_user.last_name }}</li>
        <li class="list-group-item">Birthday: {{ current_user.birthday }}</li>
        <li class="list-group-item">Token: {{ current_user.token }}</li>
    </ul>
    
</div>


{% endblock content %}